server:
  port: 9006
  max-http-header-size: 50KB

app:
  mail:
    base-url: http://localhost:9005/api/v1

spring:
  application:
    name: property-service
  config:
    import: optional:classpath:application-secret.yaml
  datasource:
    url: jdbc:postgresql://localhost:5435/postgres23
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baselineOnMigrate: true
    user: postgres
    password: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
#      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    pl.app: TRACE