server:
  port: 9005

app:
  mail:
    base-url: http://localhost:9005/api/v1
  storage:
    local:
      path: localDirectory

spring:
  application:
    name: mail-service
  config:
    import: optional:classpath:application-secret.yaml
  datasource:
    url: jdbc:postgresql://localhost:5435/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    debug: true
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        protocol: smtp
        tls: true
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com